In [1]:
## packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import simplejson as json

In [4]:
path = '/Users/noraxu/MSiA-Google/MSiABlog/yelp_dataset/review.json'
review = []
with open(path) as fin:
    i = 0 
    for line in fin:
        line_contents = json.loads(line)
        review.append(line_contents)

In [3]:
user[1]

{'business_id': 'NZnhc2sEQy3RmzKTZnqtwQ',
 'cool': 0,
 'date': '2017-01-14 21:30:33',
 'funny': 0,
 'review_id': 'GJXCdrto3ASJOqKeVWPi6Q',
 'stars': 5.0,
 'text': "I *adore* Travis at the Hard Rock's new Kelly Cardenas Salon!  I'm always a fan of a great blowout and no stranger to the chains that offer this service; however, Travis has taken the flawless blowout to a whole new level!  \n\nTravis's greets you with his perfectly green swoosh in his otherwise perfectly styled black hair and a Vegas-worthy rockstar outfit.  Next comes the most relaxing and incredible shampoo -- where you get a full head message that could cure even the very worst migraine in minutes --- and the scented shampoo room.  Travis has freakishly strong fingers (in a good way) and use the perfect amount of pressure.  That was superb!  Then starts the glorious blowout... where not one, not two, but THREE people were involved in doing the best round-brush action my hair has ever seen.  The team of stylists clearly gets along extremely well, as it's evident from the way they talk to and help one another that it's really genuine and not some corporate requirement.  It was so much fun to be there! \n\nNext Travis started with the flat iron.  The way he flipped his wrist to get volume all around without over-doing it and making me look like a Texas pagent girl was admirable.  It's also worth noting that he didn't fry my hair -- something that I've had happen before with less skilled stylists.  At the end of the blowout & style my hair was perfectly bouncey and looked terrific.  The only thing better?  That this awesome blowout lasted for days! \n\nTravis, I will see you every single time I'm out in Vegas.  You make me feel beauuuutiful!",
 'useful': 0,
 'user_id': 'yXQM5uF2jS6es16SJzNHfg'}

In [ ]:
review_df = pd.DataFrame(review)

In [2]:
data_review = pd.read_csv('/Users/noraxu/MSiA-Google/MSiABlog/reviews_toronto.csv',index_col=0)

In [5]:
data_review.head(3)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
14,AakkkTuGZA2KBodKi2_u8A,0,2012-07-16 00:37:14,1.0,JVcjMhlavKKn3UIt9p9OXA,1.0,I cannot believe how things have changed in 3 ...,1.0,TpyOT5E16YASd7EWjLQlrw
15,YvrylyuWgbP90RgMqZQVnQ,0,2017-04-07 21:27:49,0.0,svK3nBU7Rk8VfGorlrN52A,5.0,You can't really find anything wrong with this...,0.0,NJlxGtouq06hhC7sS2ECYw
19,y-Iw6dZflNix4BdwIyTNGA,0,2014-06-27 21:19:23,0.0,4bUyL7lzoWzDZaJETAKREg,3.0,Good selection of classes of beers and mains. ...,0.0,_N7Ndn29bpll_961oPeEfw

In [12]:
data_review.groupby('user_id').count()['business_id'].describe()

count    92381.000000
mean         4.568580
std         14.816299
min          1.000000
25%          1.000000
50%          1.000000
75%          3.000000
max       1400.000000
Name: business_id, dtype: float64