In [2]:
## packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import simplejson as json

/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
path = '/Users/ivanchen/Desktop/MSIA/Studying_materials/yelp_dataset/review.json'
review = []
with open(path) as fin:
    i = 0 
    for line in fin:
        line_contents = json.loads(line)
        review.append(line_contents)

In [5]:
review_df = pd.DataFrame(review)

In [6]:
review_df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,ujmEBvifdJM6h6RLv4wQIg,0,2013-05-07 04:34:36,1,Q1sbwvVQXV2734tPgoKj4Q,1.0,Total bill for this horrible service? Over $8G...,6,hG7b0MtEbXx5QzbzE6C_VA
1,NZnhc2sEQy3RmzKTZnqtwQ,0,2017-01-14 21:30:33,0,GJXCdrto3ASJOqKeVWPi6Q,5.0,I *adore* Travis at the Hard Rock's new Kelly ...,0,yXQM5uF2jS6es16SJzNHfg
2,WTqjgwHlXbSFevF32_DJVw,0,2016-11-09 20:09:03,0,2TzJjDVDEuAW6MR5Vuc1ug,5.0,I have to say that this office really has it t...,3,n6-Gk65cPZL6Uz8qRm3NYw
3,ikCg8xy5JIg_NGPx-MSIDA,0,2018-01-09 20:56:38,0,yi0R0Ugj_xUx_Nek0-_Qig,5.0,Went in for a lunch. Steak sandwich was delici...,0,dacAIZ6fTM6mqwW5uxkskg
4,b1b1eb3uo-w561D0ZfCEiQ,0,2018-01-30 23:07:38,0,11a8sVPMUFtaC7_ABRkmtw,1.0,Today was my second out of three sessions I ha...,7,ssoyf2_x0EQMed6fgHeMyQ

In [7]:
# write csv
review_df.to_csv('/Users/ivanchen/Desktop/MSIA/Courses/Blog/git/reviews.csv')

In [3]:
# read in data
data_business = pd.read_csv('/Users/ivanchen/Desktop/MSIA/Courses/Blog/git/Yelp-Recommender/business.csv')
data_review = pd.read_csv('/Users/ivanchen/Desktop/MSIA/Courses/Blog/git/reviews.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
data_review.shape

(6685902, 10)

In [10]:
# get all unique b id
business_id_ls = data_business.business_id.unique()

TypeError: 'int' object is not iterable

In [16]:
# keep only b_id in b_id ls
review_idx = [i for i in range(data_review.shape[0]) if data_review.business_id[i] in business_id_ls]

len(review_idx)

422050

In [20]:
review_df = data_review.iloc[review_idx,:]

In [22]:
review_df = review_df.drop(columns=['Unnamed: 0'])

In [32]:
review_df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,year
0,AakkkTuGZA2KBodKi2_u8A,0,2012-07-16 00:37:14,1.0,JVcjMhlavKKn3UIt9p9OXA,1.0,I cannot believe how things have changed in 3 ...,1.0,TpyOT5E16YASd7EWjLQlrw,2012
1,YvrylyuWgbP90RgMqZQVnQ,0,2017-04-07 21:27:49,0.0,svK3nBU7Rk8VfGorlrN52A,5.0,You can't really find anything wrong with this...,0.0,NJlxGtouq06hhC7sS2ECYw,2017
2,y-Iw6dZflNix4BdwIyTNGA,0,2014-06-27 21:19:23,0.0,4bUyL7lzoWzDZaJETAKREg,3.0,Good selection of classes of beers and mains. ...,0.0,_N7Ndn29bpll_961oPeEfw,2014
3,YSUcHqlKMPHHJ_cTrqtNrA,0,2017-12-29 13:55:19,0.0,E6B-2U2sGG3xgmnNWZAEew,1.0,Came here on a Thursday night at 6:30 p.m. My ...,0.0,DbccYu3OppWKl21OanZnTg,2017
4,jzveTy7ogH7cg9axZ78ENg,0,2015-04-01 13:31:35,0.0,0NRNA8qIq9nKw5FcwyOxcQ,4.0,Very nice eating environment and the food are ...,0.0,54kpqrxF9DEPpwa51hO_Bw,2015

In [26]:
review_df.index = range(review_df.shape[0])

In [29]:
yr_ls = [eval(x.split('-')[0]) for x in review_df.date]
review_df['year'] = yr_ls

In [33]:
# write csv
review_df.to_csv('/Users/ivanchen/Desktop/MSIA/Courses/Blog/git/reviews_toronto.csv')