In [5]:
## packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import simplejson as json

In [6]:
path = '/Users/ivanchen/Desktop/MSIA/Studying_materials/yelp_dataset/user.json'
user = []
with open(path) as fin:
    i = 0 
    for line in fin:
        line_contents = json.loads(line)
        user.append(line_contents)

In [7]:
user_df = pd.DataFrame(user)

In [8]:
len(user_df)

1637138

In [9]:
user_df.head()

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,4.03,1,0,1,2,0,0,1,0,1,...,25,"2015,2016,2017",5,"c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz5g...",17,Rashmi,95,84,l6BmjZMeQD3rDxWUbiAiow,2013-10-08 23:11:33
1,3.63,1,0,1,1,0,0,0,0,0,...,16,,4,"kEBTgDvFX754S68FllfCaA, aB2DynOxNOJK9st2ZeGTPg...",22,Jenna,33,48,4XChL029mKr5hydo79Ljxg,2013-02-21 22:29:06
2,3.71,0,0,0,0,0,0,1,0,0,...,10,,0,"4N-HU_T32hLENLntsNKNBg, pSY2vwWLgWfGVAAiKQzMng...",8,David,16,28,bc8C_eETBWL0olvFSJJd0w,2013-10-04 00:16:10
3,4.85,0,0,0,1,0,0,0,0,2,...,14,,5,"RZ6wS38wnlXyj-OOdTzBxA, l5jxZh1KsgI8rMunm-GN6A...",4,Angela,17,30,dD0gZpBctWGdWo9WlGuhlA,2014-05-22 15:57:30
4,4.08,80,0,80,28,1,1,16,5,57,...,665,"2015,2016,2017,2018",39,"mbwrZ-RS76V1HoJ0bF_Geg, g64lOV39xSLRZO0aQQ6DeQ...",279,Nancy,361,1114,MM4RJAeH6yuaN8oZDSt0RA,2013-10-23 07:02:50

In [10]:
user_df.describe()

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,compliment_profile,compliment_writer,cool,fans,funny,review_count,useful
count,1.637138e+06,1.637138e+06,1.637138e+06,1.637138e+06,1.637138e+06,1.637138e+06,1.637138e+06,1.637138e+06,1.637138e+06,1.637138e+06,1.637138e+06,1.637138e+06,1.637138e+06,1.637138e+06,1.637138e+06,1.637138e+06,1.637138e+06
mean,3.681462e+00,3.106818e+00,1.902082e-01,3.106818e+00,2.242225e+00,8.358489e-02,3.325951e-01,1.503944e+00,1.138432e+00,3.090273e+00,2.135135e-01,1.165329e+00,2.188046e+01,1.465646e+00,1.791785e+01,2.228770e+01,4.052770e+01
std,1.151040e+00,8.823263e+01,1.269798e+01,8.823263e+01,8.021821e+01,1.089557e+01,1.367850e+01,6.327596e+01,9.549144e+01,9.211418e+01,1.626675e+01,3.268262e+01,4.019675e+02,1.568317e+01,3.303504e+02,7.692236e+01,4.702421e+02
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00
50%,3.890000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,3.000000e+00
75%,4.600000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,0.000000e+00,3.000000e+00,1.500000e+01,1.300000e+01
max,5.000000e+00,3.226600e+04,1.365400e+04,3.226600e+04,3.416700e+04,1.266900e+04,1.350000e+04,5.783300e+04,8.260200e+04,5.210300e+04,1.417300e+04,1.544200e+04,1.486580e+05,9.538000e+03,1.302070e+05,1.327800e+04,1.542020e+05

In [11]:
# write csv
user_df.to_csv('/Users/ivanchen/Desktop/MSIA/Courses/Blog/git/Yelp-Recommender/users.csv')